importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.30.1
ipython==8.18.1
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
lightgbm==4.6.0
matplotlib==3.9.4
matplotlib-inline==0.1.7
nbformat==5.10.4
notebook==7.4.5
notebook_shim==0.2.4
numba==0.60.0
numpy==2.0.2
optuna==4.5.0
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
pillow==11.3.0
pyarrow==21.0.0
pycparser==2.22
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-utils==3.9.1
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.2
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
shap==0.48.0
tqdm==4.67.1
types-python-dateutil==2.9.0.20250822
typing_extensions==4.15.0
ipywidgets==8.1.8
jupyterlab_widgets==3.0.16
widgetsnbextension==4.0.15
